/* _sass/_layout.scss */

.site-footer {
  background: $abyss-night-indigo;
  color: $silica-white;
  padding: 2rem;
  text-align: center;
  font-size: 0.9rem;
}

body {
  font-family: $font-primary;
  font-weight: 300;
  color: $color-text;
  background: $color-bg;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-primary;
  font-weight: 700;
  letter-spacing: 0.5px;
}
